<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="/about">About</a>
			<a href="/cv">CV</a>
			<a href="/blog" id="/blog">Blog</a>
			</div>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:samuel.campbell.001@gmail.com">email me</a></li>
	        		<li><a href="https://github.com/keyofsamuel">github.com/keyofsamuel</a></li>
				</ul>
			</footer>
		</body>
	</html>

